html,
body {
    font-family: Roboto, sans-serif;
    line-height: 1.55;
    scroll-behavior: smooth;
}

:root {
    --text-main: #495057;
    --text-secondary: #fff;
    --highlight-main: #1f6aac;
    --border-radius: 8px;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

a {
    color: inherit;
    text-decoration: none;
}

.gradientText {
    background: linear-gradient(52deg, var(--highlight-main) 3%, #22b8cf 97%);
    background-clip: border-box;
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

button {
    border: none;
    outline: none;
    cursor: pointer;
    transition: filter 0.15s ease-in-out;

    &:hover {
        filter: brightness(90%);
    }
}

ul {
    list-style: none;
}
