@use '/styles/mixins';

.container {
    @include mixins.widthContainer;

    padding: 2rem 0 5rem;
}

.imgContainer {
    position: relative;
    width: 80px;
    height: 80px;
}

.sponsor {
    display: flex;
    gap: 40px;
    align-items: center;
    padding: 20px;
    border-radius: 8px;
    background-color: #ececec;

    @media (max-width: var(--breakpoint-xl)) {
        flex-direction: column;
        align-items: flex-start;
        text-align: left;
    }

    h2,
    p {
        color: var(--text-main);
    }
}

.btnContainer {
    width: 290px;

    button {
        width: 100%;
        padding: 20px 40px;
        border-radius: var(--border-radius);
        background-color: var(--highlight-main);
        color: #fff;
    }
}
