@use '/src/styles/mixins';

.container {
    @include mixins.widthContainer;

    display: flex;
    align-items: center;
    @media (max-width: 768px) {
        flex-direction: column;
        margin-top: 5rem;
    }

    > div:first-child {
        display: flex;
        flex-direction: column;
        width: 50%;
        @media (max-width: 768px) {
            width: 100%;
        }
    }

    > div:last-child {
        width: 50%;
        @media (max-width: 768px) {
            width: 100%;
        }
    }

    h1 {
        margin-top: -5px;
        margin-bottom: 1rem;
        color: #495057;
        font-weight: 700;
        font-size: 3rem;
        line-height: 1.3;

        @media (max-width: 768px) {
            font-size: 2rem;
        }
    }

    h2 {
        margin-bottom: 1rem;
        color: #495057;
        font-weight: 700;
        font-size: 1.5rem;
    }

    p {
        margin-top: -5px;
        margin-bottom: 1rem;
        color: #495057;
        font-weight: 400;
        font-size: 1.2rem;
    }
}

.buttons {
    display: flex;
    gap: 20px;
    width: 100%;
    margin-top: 20px;
    @media (max-width: 768px) {
        flex-direction: column;
    }

    button {
        padding: 10px 30px;
        border-radius: var(--border-radius);
        font-size: 1.2rem;
    }

    :first-child {
        background-color: var(--highlight-main);
        color: var(--text-secondary);
    }

    :last-child {
        border: 2px solid var(--text-main);
        background-color: transparent;
        color: var(--text-main);
    }
}

.imgContainer {
    position: relative;
    width: 100%;
    height: 45rem;
    @media (max-width: 768px) {
        height: 30rem;
    }
}
