@use '/src/styles/mixins';

.container {
    @include mixins.widthContainer;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    width: 600px;
    max-width: 95%;
    height: 100%;
    padding: 5rem 0;
    text-align: center;

    > div {
        display: flex;
        gap: 20px;
        align-items: center;
    }

    h1,
    h2,
    p {
        color: var(--text-main);
    }
}

.icon {
    color: var(--highlight-main);
    font-size: 5rem;
}
