@mixin widthContainer() {
    width: 1190px;
    max-width: 95%;
    margin: auto;
}

@mixin imgContainer($height: 60px, $width: 80px) {
    position: relative;
    width: $width;
    height: $height;
}
